<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <thymeleaf th:replace="header :: header" />
</head>

<body>
<div>
    <header id="header">
        <img src="/static/header3.png" class="img-fluid">
    </header>

    <div id="map-container" class="container">

        <div class="row">
            <div id="tip" class="col-sm">
                <h2>Tip of the day</h2>
                <h4>You can use it to purify water, cook food, ward off predators, cauterize wounds, and even signal for help.</h4>
            </div>
        </div>


        <div class="row">

            <div id="map" class="col-sm-9">
                <img src="/static/content_incomplete.png" class="img-fluid">
            </div>

        </div>
    </div>
</div>
</body>

</html>
