<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <thymeleaf th:replace="header :: header" />
</head>

<body>
<div>
    <header id="header">
        <img src="/static/header3.png" class="img-fluid">
    </header>

    <div id="map-container" class="container">

            <div class="row">
                <div id="tip" class="col-sm">
                    <h2>I'm gon' work harder! I'm a survivor!</h2>
                </div>
            </div>


            <div class="row">

                <div id="video" class="col-sm-4 video-container">

                    <iframe width="100%" height="355" src="https://www.youtube.com/embed/yPSuzC2qwks" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                </div>

                <div id="video" class="col-sm-4 video-container">

                    <iframe width="100%" height="355" src="https://youtu.be/yg88Tw8oAbk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                </div>

                <div id="video" class="col-sm-4 video-container">

                    <iframe width="100%" height="355" src="https://youtu.be/CVD5KFB7478" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                </div>

                <div id="video" class="col-sm-4 video-container">

                    <iframe width="100%" height="355" src="https://youtu.be/uyI7qOcBOK0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                </div>

                <div id="video" class="col-sm-4 video-container">

                    <iframe width="100%" height="355" src="https://youtu.be/0_4JKywBom0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                </div>

                <div id="video" class="col-sm-4 video-container">

                    <iframe width="100%" height="355" src="https://youtu.be/_a1FU_ncz48" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                </div>

            </div>
        </div>
    </div>
</div>
</body>

</html>
