html {
    height: 100%;
}

body {
    margin: 0 auto;
    height: 100%;
    text-align: center;
}

.headerContainer {
    display: flex;
    height: 100%;
}

header {
    align-items: center;
    background-color: rgba(43, 105, 61, 0.562);
    display: flex;
    width: 60%;
    justify-content: center;
}

header h1 {
    color: #f5f5f5;
    font-family: monospace;
    font-weight: bold;
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    line-height: 2;
    width: 70%;
}

.formContainer {
    align-items: center;
    display: flex;
    width: 40%;
}

form {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.login {
    color: #383838;
    font-family: monospace;
    font-size: 20px;
    margin-bottom: 30px;
    letter-spacing: 0.1em;
}

.forgotPass {
    align-self: flex-end;
    color: #383838;
    font-family: monospace;
    margin-top: -10px;
    margin-bottom: 10px;
}

.signUp {
    color: #383838;
    font-family: monospace;
    margin-top: 10px;
    text-decoration: none;
}

.btn {
    align-items: center;
    background-color: rgba(43, 105, 61, 0.562);
    border: none;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-size: 14px;
    font-weight: bold;
    justify-content: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.btn:hover {
    background-color: rgba(19, 48, 27, 0.795);
}

.input,
.btn {
    border-radius: 10px;
    font-family: monospace;
    font-size: 14px;
    height: 40px;
    width: 300px;
}

.input {
    border: 1px solid rgba(43, 105, 61, 0.562);
    box-sizing: border-box;
    margin-bottom: 20px;
    padding-left: 10px;
}

/* SIGN UP */

.personTypeContainer {
    margin-top: 10px;
    width: 300px;
}

.personTypeContainer label {
    color: #383838;
    font-family: monospace;
}

.personTypeContainer .input {
    height: auto;
    width: auto;
}

.select2-container--default .select2-selection--multiple {
    border-radius: 10px !important;
    height: 40px;
}

.select2-container--default.select2-container--focus
    .select2-selection--multiple {
    border: 1px solid rgba(43, 105, 61, 0.562);
}

.select2-container--default .select2-search--inline .select2-search__field {
    font-family: monospace;
    font-family: 14px;
}

.select2-container--default
    .select2-selection--multiple
    .select2-selection__rendered {
    font-family: monospace;
}

.select2-container--default
    .select2-selection--multiple
    .select2-selection__rendered
    li {
    font-family: monospace;
}

@media only screen and (max-width: 800px) {
    .headerContainer {
        flex-direction: column;
    }

    header {
        height: 50%;
        width: 100%;
    }

    header h1 {
        font-size: 30px;
        line-height: 1.5;
        width: 50%;
    }

    .formContainer {
        height: 50%;
        width: 100%;
    }
}

@media only screen and (max-width: 540px) {
    header h1 {
        width: 100%;
    }
}
